{% extends "base.html" %}
{% block content %}
          <table border="0" cellpadding="0" cellspacing="0" >

  {% for entry in entries %}

    <tr align=left>
      <td>{{entry.rank}}</td>
      <td>&nbsp;</td>
    
      <td><a href="{{entry.url}}">{{ entry.url }}</a></td>
    </tr>


    <tr align = left>
    <td>&nbsp;</td>
    
    <td>&nbsp;</td>
      <td>{{ entry.description|safe }}</td>
</tr>
<tr>
    <td>&nbsp;</td>
    
    <td>&nbsp;</td>

      <td> 22 points   | <a href="item?id=9496672">2 comments</a>  </td>
    </tr>

    <tr class="spacer" style="height:5px"></tr>
          
  {% else %}
    <tr>><em>Unbelievable.  No entries here so far</em>
    </tr>
  {% endfor %}
  </table>
{% endblock %}